<h2 class="title"><%= @product.title %></h2>
<p class="description"><%= @product.description %></p>
<p class="price"><%= @product.price %>€</p>
<p><%= link_to 'Ver todos los productos', products_path %></p>
